<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="../../static/core/toastr/css/toastr.min.css">
<script src="../../static/core/toastr/js/toastr.min.js"></script>
<th:block th:fragment="common-head">
    <!-- bootstrap css -->
    <link rel="stylesheet" th:href="@{/static/core/bootstrap-3.3.7/css/bootstrap.min.css}"/>
    <!---->
    <link rel="stylesheet" th:href="@{/static/core/layui/css/layui.css}" />
    <!---->
    <link rel="stylesheet" th:href="@{/static/core/common/css/common.css}"/>
    <!---->
    <script type="text/javascript" th:src="@{/static/core/common/js/jquery-3.4.1.min.js}"></script>
    <!---->
    <script th:src="@{/static/core/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
    <!---->
    <script th:src="@{/static/core/layui/layui.all.js}"></script>
    <!---->
    <link rel="stylesheet" th:href="@{/static/core/toastr/css/toastr.min.css}"/>
    <!---->
    <script th:src="@{/static/core/toastr/js/toastr.min.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!---->
    <script type="text/javascript" th:src="@{/static/core/common/js/common.js}" src="../../static/core/common/js/common.js"></script>
</th:block>
</html>