<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="common/head :: common-head"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static/login/css/login.css}" href="../static/login/css/login.css">
    <script th:src="@{/static/login/js/login.js}" src="../static/login/js/login.js"></script>
</head>
<body>
    <div style="position: absolute; top: 0px; left: 0px; widows: 100%; height: 100%;">
        <img th:src="@{/static/login/image/login-background.JPG}" style="width: 100%; height: 90%; position: relative; top: 50px;">
    </div>

    <div id="top" style="height: 50px; background-color: #3C3C3C; width: 100%;">
        <div style="position: absolute; top: 5px; left: 0px; font-size: 30px; font-weight: 400; color: white; font-family: 'times new roman'">CRM &nbsp;<span style="font-size: 12px;">&copy;2019&nbsp;陈波</span></div>
    </div>
</body>
</html>